@model thpt.ThachBan.DTO.Models.Subject
@using Microsoft.AspNetCore.Mvc.Rendering
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .form-check:hover {
        background-color: yellowgreen;
    }
</style>
<div id="content-wrapper" class="content-main d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <div class="container-fluid">
            <hr />
            <h4 class="mb-4">Thông tin môn học</h4>
            <hr />
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td style="width: 170px;" class="col-4 p-0">
                            Tên môn học
                        </td>
                        <td>
                            <input type="text" id="SubjectId" value="@Model.SubjectId" hidden>
                            <input type="text" class="form-control" id="SubjectName" name="SubjectName" value="@Model.SubjectName" placeholder="Nhập tên môn học">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số tiết tối đa 1 ngày
                        </td>
                        <td>
                            <input type="number" class="form-control" id="MaxLessonAday" name="MaxLessonAday" value="@Model.MaxLessonAday" placeholder="Nhập số tiết tối đa một ngày">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số tiết tối đa 1 tuần
                        </td>
                        <td>
                            <input type="number" class="form-control" id="LessonAweek" name="LessonAweek" value="@Model.LessonAweek" placeholder="Nhập số tiết tối đa một tuần">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Tổ bộ môn
                        </td>
                        <td>
                            <select class="form-control" data-val="true" data-val-required="The Department field is required." id="DepartmentId" name="DepartmentId">
                                @foreach (var item in (List<thpt.ThachBan.DTO.Models.Department>)ViewBag.Departments)
                                {
                                    if (Model.DepartmentId == item.DepartmentId)
                                    {
                                    <option selected value="@item.DepartmentId">@item.DepartmentName</option>
                                        
                                    }
                                    <option value="@item.DepartmentId">@item.DepartmentName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Miêu tả
                        </td>
                        <td>
                            <textarea type="text" class="form-control" id="Description" name="Description" value="@Model.Description" placeholder="Nhập miêu tả"></textarea>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            Ngày tạo
                        </td>
                        <td>
                            @Model.CreatedDate.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Người tạo
                        </td>
                        <td>
                            @ViewBag.CreatedBy
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày cập nhật
                        </td>
                        <td>
                            @Model.UpdatedDate?.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Người cập nhật
                        </td>
                        <td>
                            @ViewBag.UpdatedBy
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="submitData">Lưu</button>
                <span style="width: 50px;"></span>
                <a href="/Admin/TeacherManager" class="btn btn-secondary" id="comeback">Quay lại </a>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#submitData').on("click", function () {
            console.log($('#ClassId').val());
            var datapost = {
                SubjectId: $('#SubjectId').val(),
                SubjectName: $('#SubjectName').val(),
                MaxLessonAday: $('#MaxLessonAday').val(),
                LessonAweek: $('#LessonAweek').val(),
                DepartmentId: $('#DepartmentId').val()
            };
            console.log(JSON.stringify(datapost));
            const data = $.ajax({
                url: '@Url.Action("EditSubject","SubjetManager")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(datapost),
                success: function (data) {
                    //var toast = document.querySelector(".toast");
                    //// Thêm lớp "show" để hiển thị thông báo
                    //toast.classList.add("show");
                    //setTimeout(removeToastClass, 5000);
                    if (data.status == 200) {
                        alert("Cập nhật thông tin thành công!");
                    }
                    else if (data.status == 501) {
                        alert(data.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error creating employee: ' + textStatus);
                }
            });
        })

    });


</script>
