@model List<thpt.ThachBan.DTO.Models.Subject>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="content-wrapper" class="content-main d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 d-md-none static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </nav>
        <div class="p-3">
            <div class="d-flex align-items-center justify-content-between">
                <h1>Danh sách môn học</h1>
                <a class="btn btn-outline-success h-100" asp-area="Admin" asp-controller="SubjectManager" asp-action="Create">Tạo mới</a>
            </div>
            <form id="formListSubject" action="" method="get">

                <div class="input-group mb-3">

                    <input name="SubjectNameSearch" type="text" class="form-control flex-grow-0 w-auto searchInput" placeholder="Môn" value="@ViewBag.SubjectNameSearch">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></button>
                    <span>&nbsp;&nbsp;&nbsp;</span>

                    <input name="MaxLessonADaySearch" type="number" class="form-control flex-grow-0 w-auto searchInput" placeholder="Số tiết tối đa / ngày" value="@ViewBag.MaxLessonADaySearch">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></button>
                    <span>&nbsp;&nbsp;&nbsp;</span>

                    <input name="LessonAWeek" type="number" class="form-control flex-grow-0 w-auto searchInput" placeholder="Số tiết / tuần" value="@ViewBag.LessonAWeek">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></button>
                    <span>&nbsp;&nbsp;&nbsp;</span>

                    <input name="DepartmentSearch" type="text" class="form-control flex-grow-0 w-auto searchInput" placeholder="Chủ nhiệm" value="@ViewBag.DepartmentSearch">
                    <button type="submit" class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Môn</td>
                        <td>Số tiết tối đa / Ngày</td>
                        <td>Số tiết / Tuần</td>
                        <td>Tổ bộ môn</td>
                        <td>Miêu tả</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].SubjectName</td>
                            <td>@Model[i].MaxLessonAday</td>
                            <td>@Model[i].LessonAweek</td>
                            <td>@Model[i].Department?.DepartmentName</td>
                            <td style="max-width:400px;" class="m-0 d-block text-truncate border-0">@Model[i].Description sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td>
                            <td>
                                @Html.ActionLink("Xem chi tiết", "Edit", new { id =@Model[i].SubjectId}, new { @class = "btn btn-light" })
                                @Html.ActionLink("Xóa", "Delete", new { id =@Model[i].SubjectId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-inline-flex w-100 justify-content-center">
        @{

            for (int i = 1; i <= ViewBag.pageSize; i++)
            {
                if (i == ViewBag.pageCurrent)
                {
                    <a href="@Url.Action("Index", new {pageCurrent = i})" class="d-inline-block btn btn-danger">@i</a>
                }
                else
                {
                    <a href="@Url.Action("Index",new {pageCurrent = i})" class="d-inline-block btn btn-dark">@i</a>

                }

            }
        }

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Status').on('change', function () {
            $('#formListSubject').submit();
        });
    });
</script>